<div>
  <p class="ml-3 mt-3 back-ground-p">Training is teaching, or developing in oneself or others,
    any skills and knowledge or fitness that relate to specific useful competencies.
    ... Training also refers to the development of physical fitness related to a specific competence,
    such as sport, martial arts, military applications and some other occupations</p>

  <p class="ml-3">
    Training constitutes a basic concept in human resource development.
    It is concerned with developing a particular skill to a desired standard by instruction and practice.
    Training is a highly useful tool that can bring an employee into a position where they can do their job correctly,
    effectively, and conscientiously.
    Training is the act of increasing the knowledge and skill of an employee for doing a particular job.
  </p>
</div>

