<nav class="navbar navbar-expand-lg navbar-light bg-custom-green">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="my-navbar" >

      <li class="nav-item">
        <a class="navbar-brand after-pipe" href="#">cooltraining.com.ua</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['home']">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['trainings']">TRAININGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" [routerLink]="['about']">ABOUT US</a>
      </li>
    </ul>
    <a class="navbar-brand color-white" href="#">ENG</a>
    <a class="navbar-brand color-white" href="#">UKR</a>
    <a class="navbar-brand color-white" [routerLink]="['admin']">Admin Interface</a>
  </div>
</nav>
