<div>
  <img src="assets/background-home.jpg" alt="background" class="mt-3 ml-3">
  <p class="h2 color-custom-green mt-5 ml-3">Enjoy our Trainings</p>

  <p class="ml-3">
    Training constitutes a basic concept in human resource development.
    It is concerned with developing a particular skill to a desired standard by instruction and practice.
    Training is a highly useful tool that can bring an employee into a position where they can do their job correctly,
    effectively, and conscientiously.
    Training is the act of increasing the knowledge and skill of an employee for doing a particular job.
  </p>
</div>

